name: Publish NuGet Package

on:
  push:
    tags:
      - 'v*'

jobs:
  publish_upload:
    name: Publish NuGet Package
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Restore dependencies
        run: dotnet restore
      - name: Pack and upload NuGet package
        run: |
          dotnet pack -c Release
          dotnet nuget push src/OpenOnlineConfig/bin/Release/*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }} --skip-duplicate
